In [1]:
# pipelines for preprocesser, polarity&subjectivity, nb_feature_engineer_model for each new columns
# interate rows of new dataframe to create new columns '.._..._nb'
# return a new dataframe with new features

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
cd ..

/Users/yunxizzy/code/theresa-sporn/WorkforceSentimentMonitoring

In [40]:
ls

MANIFEST.in                            joblib_files/
Makefile                               lexicon/
Procfile                               notebooks/
README.md                              raw_data/
WorkforceSentimentMonitoring/          requirements.txt
WorkforceSentimentMonitoring.egg-info/ scripts/
app.py                                 setup.py
build/                                 setup.sh
dist/                                  test_data/
gceline_topic_modelling_v2.ipynb       tests/

# Load models

In [4]:
from WorkforceSentimentMonitoring.preprocessing import preprocessing, tokenize

In [43]:
import joblib
import os

In [6]:
os_path = os.getcwd()
os_path_abs = '/'.join(os_path.split('/')[:-1])
model_path = os.path.join(os_path_abs,'WorkforceSentimentMonitoring/joblib_files')

In [44]:
model_path

'/Users/yunxizzy/code/theresa-sporn/WorkforceSentimentMonitoring/joblib_files'

In [45]:
model_nb_carrer = joblib.load(os.path.join(model_path, 'career-opportunities_nb.joblib'))
model_nb_carrer

Pipeline(steps=[('vectorizer',
                 ColumnTransformer(transformers=[('vectorizer',
                                                  TfidfVectorizer(analyzer='char',
                                                                  max_df=0.8307731986661769,
                                                                  min_df=0.013723547074227254,
                                                                  ngram_range=(1,
                                                                               4),
                                                                  stop_words='english'),
                                                  'review')])),
                ('classifier', MultinomialNB(alpha=0.03458454818476731))])

In [46]:
model_nb_benefits = joblib.load(os.path.join(model_path, 'comp-benefits_nb.joblib'))
model_nb_benefits

Pipeline(steps=[('vectorizer',
                 ColumnTransformer(transformers=[('vectorizer',
                                                  TfidfVectorizer(analyzer='char',
                                                                  max_df=0.8307731986661769,
                                                                  min_df=0.013723547074227254,
                                                                  ngram_range=(1,
                                                                               4),
                                                                  stop_words='english'),
                                                  'review')])),
                ('classifier', MultinomialNB(alpha=0.03458454818476731))])

In [47]:
model_nb_culture = joblib.load(os.path.join(model_path, 'culture-values_nb.joblib'))
model_nb_culture

Pipeline(steps=[('vectorizer',
                 ColumnTransformer(transformers=[('vectorizer',
                                                  TfidfVectorizer(analyzer='char',
                                                                  max_df=0.8307731986661769,
                                                                  min_df=0.013723547074227254,
                                                                  ngram_range=(1,
                                                                               4),
                                                                  stop_words='english'),
                                                  'review')])),
                ('classifier', MultinomialNB(alpha=0.03458454818476731))])

In [48]:
model_nb_mgmt = joblib.load(os.path.join(model_path, 'senior-mgmt_nb.joblib'))
model_nb_mgmt

Pipeline(steps=[('vectorizer',
                 ColumnTransformer(transformers=[('vectorizer',
                                                  TfidfVectorizer(analyzer='char',
                                                                  max_df=0.8307731986661769,
                                                                  min_df=0.013723547074227254,
                                                                  ngram_range=(1,
                                                                               4),
                                                                  stop_words='english'),
                                                  'review')])),
                ('classifier', MultinomialNB(alpha=0.03458454818476731))])

In [49]:
model_nb_overall = joblib.load(os.path.join(model_path, 'overall_nb.joblib'))
model_nb_overall

Pipeline(steps=[('vectorizer',
                 ColumnTransformer(transformers=[('vectorizer',
                                                  TfidfVectorizer(analyzer='char',
                                                                  max_df=0.8307731986661769,
                                                                  min_df=0.013723547074227254,
                                                                  ngram_range=(1,
                                                                               4),
                                                                  stop_words='english'),
                                                  'review')])),
                ('classifier', MultinomialNB(alpha=0.03458454818476731))])

In [50]:
model_nb_balance = joblib.load(os.path.join(model_path, 'work-balance_nb.joblib'))
model_nb_balance

Pipeline(steps=[('vectorizer',
                 ColumnTransformer(transformers=[('vectorizer',
                                                  TfidfVectorizer(analyzer='char',
                                                                  max_df=0.8307731986661769,
                                                                  min_df=0.013723547074227254,
                                                                  ngram_range=(1,
                                                                               4),
                                                                  stop_words='english'),
                                                  'review')])),
                ('classifier', MultinomialNB(alpha=0.03458454818476731))])

# Load datasets

In [14]:
# import train test data

In [15]:
from WorkforceSentimentMonitoring.data import SCORE_COLS, get_prepaired_data,\
detect_wrong_language, drop_wrong_language

In [16]:
X_train, X_test, y_train, y_test = get_prepaired_data()

Reading data...
Merging data into a single DataFrame...

  0%|          | 0/10 [00:00<?, ?it/s]

Dropping initial text columns...
Identifying entries in other languages...

100%|██████████| 10/10 [05:36<00:00, 33.62s/it]

Drop 436 entries? [y] / n
y
Dropping 436 entries...
Splitting train and test...
Encoding targets...
Done!

In [17]:
X_train

                                                  review
0      Mac ExpertGreat company to work for. Work life...
1      Horrible PlaceHealth insurance is pretty good ...
2      senior color author associatethe facilities an...
3      Area ManagerGood Learning environment for ware...
4      Data EngineerYou can learn real time experienc...
...                                                  ...
36660  Good EnvironmentLots of good people to work wi...
36661  ReviewGreat benefits and awesome teammatesReta...
36662  AssociateSchedule, benefits, employees and loc...
36663  Great experienceGreat corporate experience Int...
36664  Service AdvisorGreat company, fun environment,...

[36665 rows x 1 columns]

# Preprocessing

In [18]:
X_train_cp = X_train.copy()
X_test_cp = X_test.copy()

In [19]:
from WorkforceSentimentMonitoring.encoders import Preprocessor, FeatureEngineer, MinMaxScaler

In [21]:
pre = Preprocessor()
X_train_pre = pre.fit_transform(X_train_cp)
X_test_pre = pre.fit_transform(X_test_cp)

In [22]:
X_test_pre

                                                  review
0      quick reviewhigh level freedom making decision...
1      transaction risk management servicesget learn ...
2      class workthe work culture best classnone mome...
3      learning best technology sharing know loved ma...
4      top company work forit flat organization flexi...
...                                                  ...
15709  geniuspersonal develop discount apple product ...
15710  snr product manager iiiencourages new idea emp...
15711  great company minor flawslet start saying revi...
15712  apple retail great management work life balanc...
15713       operatorgood teamwork work fun much complain

[15714 rows x 1 columns]

In [23]:
fea = FeatureEngineer()
X_train_fea = fea.fit_transform(X_train_pre)
X_test_fea = fea.fit_transform(X_test_pre)

100%|██████████| 1/1 [00:27<00:00, 27.63s/it]
100%|██████████| 1/1 [00:12<00:00, 12.19s/it]

In [24]:
X_test_fea_cp = X_test_fea.copy()
X_test_fea_cp

,review,review_length,subjectivity_review,polarity_review
0,quick reviewhigh level freedom making decision...,341,0.477778,0.125926
1,transaction risk management servicesget learn ...,197,0.430303,-0.087338
2,class workthe work culture best classnone mome...,84,0.300000,1.000000
3,learning best technology sharing know loved ma...,281,0.529457,0.312363
4,top company work forit flat organization flexi...,239,0.458333,0.425000
...,...,...,...,...
15709,geniuspersonal develop discount apple product ...,140,0.600000,0.200000
15710,snr product manager iiiencourages new idea emp...,128,0.277273,0.118182
15711,great company minor flawslet start saying revi...,2308,0.489983,0.149325
15712,apple retail great management work life balanc...,231,0.694444,0.516667
15713,operatorgood teamwork work fun much complain,44,0.200000,0.250000

# Iterate X_test

In [25]:
y_test_cp = y_test.copy()
y_test_cp

,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall
0,0,0,1,1,0,0
1,0,1,0,0,0,0
2,1,1,1,1,1,1
3,0,0,0,1,0,0
4,1,1,1,1,1,1
...,...,...,...,...,...,...
15709,0,1,1,0,0,0
15710,0,0,1,0,0,0
15711,1,1,1,1,1,1
15712,1,1,1,1,1,1
15713,0,1,1,0,0,0

In [26]:
from WorkforceSentimentMonitoring.feature_engineering import extract_NB_predictions

In [27]:
X_train_pre_cp = X_train_pre.copy()
X_test_pre_cp = X_test_pre.copy()

In [28]:
# iterate X_train rows
import pandas as pd
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer

In [ ]:
#df['predictions'] = df[['input1','input2']].apply(lambda x: model.predict([x])[0],axis=1)
#df["predictions"] = df[["input1", "input2"]].apply(
#    lambda s: model.predict(s.values[None])[0], axis=1)

In [29]:
X_test_pre_cp

,review,review_length,subjectivity_review,polarity_review
0,quick reviewhigh level freedom making decision...,341,0.477778,0.125926
1,transaction risk management servicesget learn ...,197,0.430303,-0.087338
2,class workthe work culture best classnone mome...,84,0.300000,1.000000
3,learning best technology sharing know loved ma...,281,0.529457,0.312363
4,top company work forit flat organization flexi...,239,0.458333,0.425000
...,...,...,...,...
15709,geniuspersonal develop discount apple product ...,140,0.600000,0.200000
15710,snr product manager iiiencourages new idea emp...,128,0.277273,0.118182
15711,great company minor flawslet start saying revi...,2308,0.489983,0.149325
15712,apple retail great management work life balanc...,231,0.694444,0.516667
15713,operatorgood teamwork work fun much complain,44,0.200000,0.250000

In [30]:
X_test_fea_cp

,review,review_length,subjectivity_review,polarity_review
0,quick reviewhigh level freedom making decision...,341,0.477778,0.125926
1,transaction risk management servicesget learn ...,197,0.430303,-0.087338
2,class workthe work culture best classnone mome...,84,0.300000,1.000000
3,learning best technology sharing know loved ma...,281,0.529457,0.312363
4,top company work forit flat organization flexi...,239,0.458333,0.425000
...,...,...,...,...
15709,geniuspersonal develop discount apple product ...,140,0.600000,0.200000
15710,snr product manager iiiencourages new idea emp...,128,0.277273,0.118182
15711,great company minor flawslet start saying revi...,2308,0.489983,0.149325
15712,apple retail great management work life balanc...,231,0.694444,0.516667
15713,operatorgood teamwork work fun much complain,44,0.200000,0.250000

In [72]:
X_test_mnb = pd.concat([X_test_fea_cp, pd.DataFrame(columns=['work-balance_nb', 'culture-values_nb', 
                                                              'career-opportunities_nb', 'comp-benefits_nb', 
                                                              'senior-mgmt_nb', 'overall_nb'])])

In [73]:
X_test_mnb.head()

,review,review_length,subjectivity_review,polarity_review,work-balance_nb,culture-values_nb,career-opportunities_nb,comp-benefits_nb,senior-mgmt_nb,overall_nb
0,quick reviewhigh level freedom making decision...,341.0,0.477778,0.125926,NaN,NaN,NaN,NaN,NaN,NaN
1,transaction risk management servicesget learn ...,197.0,0.430303,-0.087338,NaN,NaN,NaN,NaN,NaN,NaN
2,class workthe work culture best classnone mome...,84.0,0.300000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
3,learning best technology sharing know loved ma...,281.0,0.529457,0.312363,NaN,NaN,NaN,NaN,NaN,NaN
4,top company work forit flat organization flexi...,239.0,0.458333,0.425000,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
#X_test_mnb[X_test_mnb.columns[-6:]] 
X_test_mnb['career-opportunities_nb'] = model_nb_carrer.predict(X_test_mnb)

X_test_mnb['comp-benefits_nb'] = model_nb_benefits.predict(X_test_mnb)

X_test_mnb['work-balance_nb'] = model_nb_balance.predict(X_test_mnb)

X_test_mnb['senior-mgmt_nb'] = model_nb_mgmt.predict(X_test_mnb)

X_test_mnb['culture-values_nb'] = model_nb_culture.predict(X_test_mnb)

X_test_mnb['overall_nb'] = model_nb_overall.predict(X_test_mnb)

/Users/yunxizzy/.pyenv/versions/3.7.7/envs/workforce/lib/python3.7/site-packages/sklearn/compose/_column_transformer.py:440: FutureWarning: Given feature/column names or counts do not match the ones for the data given during fit. This will fail from v0.24.
  FutureWarning)

In [75]:
X_test_mnb.head()

,review,review_length,subjectivity_review,polarity_review,work-balance_nb,culture-values_nb,career-opportunities_nb,comp-benefits_nb,senior-mgmt_nb,overall_nb
0,quick reviewhigh level freedom making decision...,341.0,0.477778,0.125926,0,1,1,1,0,0
1,transaction risk management servicesget learn ...,197.0,0.430303,-0.087338,0,0,0,0,0,0
2,class workthe work culture best classnone mome...,84.0,0.300000,1.000000,1,1,1,1,1,1
3,learning best technology sharing know loved ma...,281.0,0.529457,0.312363,0,0,0,1,0,0
4,top company work forit flat organization flexi...,239.0,0.458333,0.425000,1,1,1,1,1,1

# Try to automate the process

## Try it in notebook

In [78]:
X_test_nb = X_test_fea.copy()
X_test_nb

,review,review_length,subjectivity_review,polarity_review
0,quick reviewhigh level freedom making decision...,341,0.477778,0.125926
1,transaction risk management servicesget learn ...,197,0.430303,-0.087338
2,class workthe work culture best classnone mome...,84,0.300000,1.000000
3,learning best technology sharing know loved ma...,281,0.529457,0.312363
4,top company work forit flat organization flexi...,239,0.458333,0.425000
...,...,...,...,...
15709,geniuspersonal develop discount apple product ...,140,0.600000,0.200000
15710,snr product manager iiiencourages new idea emp...,128,0.277273,0.118182
15711,great company minor flawslet start saying revi...,2308,0.489983,0.149325
15712,apple retail great management work life balanc...,231,0.694444,0.516667
15713,operatorgood teamwork work fun much complain,44,0.200000,0.250000

In [84]:
# list of tuple(col_names, path_to_model)
list_col_model = [('work-balance_nb', 'work-balance_nb.joblib'), 
                  ('culture-values_nb', 'culture-values_nb.joblib'), 
                  ('career-opportunities_nb', 'career-opportunities_nb.joblib'), 
                  ('comp-benefits_nb', 'comp-benefits_nb.joblib'), 
                  ('senior-mgmt_nb', 'senior-mgmt_nb.joblib'), 
                  ('overall_nb', 'overall_nb.joblib')]
# iterate the tuple
for col_model in list_col_model:
    col = col_model[0]
    model_name = col_model[1]
    model = joblib.load(os.path.join(model_path, model_name))
    X_test_nb[col] = model.predict(X_test_nb)

/Users/yunxizzy/.pyenv/versions/3.7.7/envs/workforce/lib/python3.7/site-packages/sklearn/compose/_column_transformer.py:440: FutureWarning: Given feature/column names or counts do not match the ones for the data given during fit. This will fail from v0.24.
  FutureWarning)

In [85]:
X_test_nb

,review,review_length,subjectivity_review,polarity_review,work-balance_nb,culture-values_nb,career-opportunities_nb,comp-benefits_nb,senior-mgmt_nb,overall_nb
0,quick reviewhigh level freedom making decision...,341,0.477778,0.125926,0,1,1,1,0,0
1,transaction risk management servicesget learn ...,197,0.430303,-0.087338,0,0,0,0,0,0
2,class workthe work culture best classnone mome...,84,0.300000,1.000000,1,1,1,1,1,1
3,learning best technology sharing know loved ma...,281,0.529457,0.312363,0,0,0,1,0,0
4,top company work forit flat organization flexi...,239,0.458333,0.425000,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
15709,geniuspersonal develop discount apple product ...,140,0.600000,0.200000,0,1,0,1,0,0
15710,snr product manager iiiencourages new idea emp...,128,0.277273,0.118182,0,1,0,1,0,0
15711,great company minor flawslet start saying revi...,2308,0.489983,0.149325,0,1,0,1,0,0
15712,apple retail great management work life balanc...,231,0.694444,0.516667,0,1,0,1,1,0
15713,operatorgood teamwork work fun much complain,44,0.200000,0.250000,1,1,1,1,1,1

In [110]:
pipe_dict = dict(pipe_nb_carrer = Pipeline([
    ('nb_carrer', model_nb_carrer)
]),

pipe_nb_benefits = Pipeline([
    ('nb_benefits', model_nb_benefits)
]),

pipe_nb_mgmt = Pipeline([
    ('nb_mgmt', model_nb_mgmt)
]),

pipe_nb_culture = Pipeline([
    ('nb_culture', model_nb_culture)
]),

pipe_nb_balance = Pipeline([
    ('nb_balance', model_nb_balance)
]),

pipe_nb_overall = Pipeline([
    ('nb_overall', model_nb_overall)
]))

In [124]:
list(pipe_dict.keys())

['pipe_nb_carrer',
 'pipe_nb_benefits',
 'pipe_nb_mgmt',
 'pipe_nb_culture',
 'pipe_nb_balance',
 'pipe_nb_overall']

In [143]:
'''score_list = ['carrer', 'benefits', 'mgmt', 'culture', 'balance', 'overall']
for score in score_list:
    #print(f"pipe_nb_{score}")
    for f"pipe_nb_{score}" in list(pipe_dict.keys()):
    #X_test_pre_cp_pred = X_test_pre_cp.apply(pipe_nb)
        print(f"pipe_nb_{score}")'''

'score_list = [\'carrer\', \'benefits\', \'mgmt\', \'culture\', \'balance\', \'overall\']\nfor score in score_list:\n    #print(f"pipe_nb_{score}")\n    for f"pipe_nb_{score}" in list(pipe_dict.keys()):\n    #X_test_pre_cp_pred = X_test_pre_cp.apply(pipe_nb)\n        print(f"pipe_nb_{score}")'

## Try it in package

In [153]:
from WorkforceSentimentMonitoring.trainer import get_mnb_features

In [154]:
X_test_fea_cp_mnb = get_mnb_features(X_test_fea_cp)

In [155]:
X_test_fea_cp_mnb

,review,review_length,subjectivity_review,polarity_review,work-balance_nb,culture-values_nb,career-opportunities_nb,comp-benefits_nb,senior-mgmt_nb,overall_nb
0,quick reviewhigh level freedom making decision...,341,0.477778,0.125926,0,1,1,1,0,0
1,transaction risk management servicesget learn ...,197,0.430303,-0.087338,0,0,0,0,0,0
2,class workthe work culture best classnone mome...,84,0.300000,1.000000,1,1,1,1,1,1
3,learning best technology sharing know loved ma...,281,0.529457,0.312363,0,0,0,1,0,0
4,top company work forit flat organization flexi...,239,0.458333,0.425000,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
15709,geniuspersonal develop discount apple product ...,140,0.600000,0.200000,0,1,0,1,0,0
15710,snr product manager iiiencourages new idea emp...,128,0.277273,0.118182,0,1,0,1,0,0
15711,great company minor flawslet start saying revi...,2308,0.489983,0.149325,0,1,0,1,0,0
15712,apple retail great management work life balanc...,231,0.694444,0.516667,0,1,0,1,1,0
15713,operatorgood teamwork work fun much complain,44,0.200000,0.250000,1,1,1,1,1,1

# Scale before LogReg

In [89]:
from WorkforceSentimentMonitoring.encoders import CustomMinMaxScaler

In [90]:
scaler = CustomMinMaxScaler()

In [91]:
X_test_nb_scaled = scaler.fit_transform(X_test_nb)

In [92]:
X_test_nb_scaled

,review,review_length,subjectivity_review,polarity_review,work-balance_nb,culture-values_nb,career-opportunities_nb,comp-benefits_nb,senior-mgmt_nb,overall_nb
0,quick reviewhigh level freedom making decision...,0.024994,0.477778,0.125926,0,1,1,1,0,0
1,transaction risk management servicesget learn ...,0.013568,0.430303,-0.087338,0,0,0,0,0,0
2,class workthe work culture best classnone mome...,0.004602,0.300000,1.000000,1,1,1,1,1,1
3,learning best technology sharing know loved ma...,0.020233,0.529457,0.312363,0,0,0,1,0,0
4,top company work forit flat organization flexi...,0.016901,0.458333,0.425000,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
15709,geniuspersonal develop discount apple product ...,0.009045,0.600000,0.200000,0,1,0,1,0,0
15710,snr product manager iiiencourages new idea emp...,0.008093,0.277273,0.118182,0,1,0,1,0,0
15711,great company minor flawslet start saying revi...,0.181068,0.489983,0.149325,0,1,0,1,0,0
15712,apple retail great management work life balanc...,0.016266,0.694444,0.516667,0,1,0,1,1,0
15713,operatorgood teamwork work fun much complain,0.001428,0.200000,0.250000,1,1,1,1,1,1

# Test on final models

## Get X_train features

In [95]:
def get_mnb_features(X):
    # list of tuple(col_names, path_to_model)
    list_col_model = [('work-balance_nb', 'work-balance_nb.joblib'), 
                      ('culture-values_nb', 'culture-values_nb.joblib'), 
                      ('career-opportunities_nb', 'career-opportunities_nb.joblib'), 
                      ('comp-benefits_nb', 'comp-benefits_nb.joblib'), 
                      ('senior-mgmt_nb', 'senior-mgmt_nb.joblib'), 
                      ('overall_nb', 'overall_nb.joblib')]
    # iterate the tuple
    for col_model in list_col_model:
        col = col_model[0]
        model_name = col_model[1]
        model = joblib.load(os.path.join(model_path, model_name))
        X[col] = model.predict(X)
    return X

In [97]:
X_train_fea_cp = X_train_fea.copy()

In [98]:
X_train_fea_mnb = get_mnb_features(X_train_fea_cp)
X_train_fea_mnb

/Users/yunxizzy/.pyenv/versions/3.7.7/envs/workforce/lib/python3.7/site-packages/sklearn/compose/_column_transformer.py:440: FutureWarning: Given feature/column names or counts do not match the ones for the data given during fit. This will fail from v0.24.
  FutureWarning)

,review,review_length,subjectivity_review,polarity_review,work-balance_nb,culture-values_nb,career-opportunities_nb,comp-benefits_nb,senior-mgmt_nb,overall_nb
0,mac expertgreat company work work life balance...,111,0.000000,0.000000,1,1,1,1,1,1
1,horrible placehealth insurance pretty good pay...,1272,0.561852,0.105101,0,0,0,0,0,0
2,senior color author associatethe facility work...,121,0.200000,0.200000,1,1,1,1,1,1
3,area managergood learning environment warehous...,206,0.638333,0.145000,0,0,0,0,0,0
4,data engineeryou learn real time experience ha...,124,0.445714,0.162857,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
36660,good environmentlots good people work withdoes...,95,0.510909,0.327273,1,1,1,1,1,1
36661,reviewgreat benefit awesome teammatesretail en...,77,1.000000,1.000000,1,1,1,1,1,1
36662,associateschedule benefit employee locationhar...,98,0.600000,0.700000,0,1,0,1,0,0
36663,great experiencegreat corporate experience int...,177,0.458333,0.383333,1,1,1,1,1,1
36664,service advisorgreat company fun environment g...,127,0.501136,0.484091,1,1,1,1,1,1

In [99]:
X_train_mnb_scaled = scaler.fit_transform(X_train_fea_mnb)
X_train_mnb_scaled

,review,review_length,subjectivity_review,polarity_review,work-balance_nb,culture-values_nb,career-opportunities_nb,comp-benefits_nb,senior-mgmt_nb,overall_nb
0,mac expertgreat company work work life balance...,0.010823,0.000000,0.000000,1,1,1,1,1,1
1,horrible placehealth insurance pretty good pay...,0.150433,0.561852,0.105101,0,0,0,0,0,0
2,senior color author associatethe facility work...,0.012025,0.200000,0.200000,1,1,1,1,1,1
3,area managergood learning environment warehous...,0.022246,0.638333,0.145000,0,0,0,0,0,0
4,data engineeryou learn real time experience ha...,0.012386,0.445714,0.162857,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
36660,good environmentlots good people work withdoes...,0.008899,0.510909,0.327273,1,1,1,1,1,1
36661,reviewgreat benefit awesome teammatesretail en...,0.006734,1.000000,1.000000,1,1,1,1,1,1
36662,associateschedule benefit employee locationhar...,0.009259,0.600000,0.700000,0,1,0,1,0,0
36663,great experiencegreat corporate experience int...,0.018759,0.458333,0.383333,1,1,1,1,1,1
36664,service advisorgreat company fun environment g...,0.012747,0.501136,0.484091,1,1,1,1,1,1

## Find the best estimator of LogReg

In [133]:
y_train['work-balance'].value_counts()

0    18540
1    18125
Name: work-balance, dtype: int64

In [134]:
y_train['comp-benefits'].value_counts()

1    26148
0    10517
Name: comp-benefits, dtype: int64

In [135]:
y_train['culture-values'].value_counts()

1    23888
0    12777
Name: culture-values, dtype: int64

In [136]:
y_train['career-opportunities'].value_counts()

1    21913
0    14752
Name: career-opportunities, dtype: int64

In [137]:
y_train['senior-mgmt'].value_counts()

0    18412
1    18253
Name: senior-mgmt, dtype: int64

In [138]:
y_train['overall'].value_counts()

1    18674
0    17991
Name: overall, dtype: int64

In [101]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from scipy import stats
from sklearn.linear_model import LogisticRegression

In [139]:
log = LogisticRegression(class_weight='balanced', max_iter=1000)
param = {
    'C': stats.loguniform(0.001, 10),
    'multi_class': ['multinomial', 'ovr', 'auto'],
    'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],
    'penalty': ['l1', 'l2', 'elasticnet', 'none']
         }
random_search = RandomizedSearchCV(log, param, scoring='accuracy', n_iter=100, cv=10, n_jobs=-1)

In [140]:
result = random_search.fit(X_train_mnb_scaled.drop(columns='review'), y_train['work-balance'])
result.best_score_, \
result.best_params_, \
result.best_estimator_

(0.6653212749146,
 {'C': 0.002121875104420046,
  'multi_class': 'ovr',
  'penalty': 'l1',
  'solver': 'saga'},
 LogisticRegression(C=0.002121875104420046, class_weight='balanced',
                    max_iter=1000, multi_class='ovr', penalty='l1',
                    solver='saga'))

In [141]:
result = random_search.fit(X_train_mnb_scaled.drop(columns='review'), y_train['work-balance'])
result.best_score_, \
result.best_params_, \
result.best_estimator_

(0.66529413112422,
 {'C': 0.006418289960568501,
  'multi_class': 'auto',
  'penalty': 'l2',
  'solver': 'saga'},
 LogisticRegression(C=0.006418289960568501, class_weight='balanced',
                    max_iter=1000, solver='saga'))

In [125]:
result = random_search.fit(X_train_mnb_scaled.drop(columns='review'), y_train['culture-values'])
result.best_score_, \
result.best_params_, \
result.best_estimator_

(0.7182874834619261,
 {'C': 4.808542499566221, 'multi_class': 'auto', 'solver': 'saga'},
 LogisticRegression(C=4.808542499566221, class_weight='balanced', max_iter=1000,
                    solver='saga'))

In [126]:
result = random_search.fit(X_train_mnb_scaled.drop(columns='review'), y_train['comp-benefits'])
result.best_score_, \
result.best_params_, \
result.best_estimator_

(0.6564300061398971,
 {'C': 0.0036652748605693593, 'multi_class': 'auto', 'solver': 'lbfgs'},
 LogisticRegression(C=0.0036652748605693593, class_weight='balanced',
                    max_iter=1000))

In [127]:
result = random_search.fit(X_train_mnb_scaled.drop(columns='review'), y_train['senior-mgmt'])
result.best_score_, \
result.best_params_, \
result.best_estimator_

(0.6963861937264741,
 {'C': 0.9612279844946229, 'multi_class': 'multinomial', 'solver': 'lbfgs'},
 LogisticRegression(C=0.9612279844946229, class_weight='balanced', max_iter=1000,
                    multi_class='multinomial'))

In [128]:
result = random_search.fit(X_train_mnb_scaled.drop(columns='review'), y_train['career-opportunities'])
result.best_score_, \
result.best_params_, \
result.best_estimator_

(0.6941227854453345,
 {'C': 0.508783459010282, 'multi_class': 'ovr', 'solver': 'liblinear'},
 LogisticRegression(C=0.508783459010282, class_weight='balanced', max_iter=1000,
                    multi_class='ovr', solver='liblinear'))

In [129]:
result = random_search.fit(X_train_mnb_scaled.drop(columns='review'), y_train['overall'])
result.best_score_, \
result.best_params_, \
result.best_estimator_

(0.6454935133854072,
 {'C': 2.807682743881374, 'multi_class': 'auto', 'solver': 'liblinear'},
 LogisticRegression(C=2.807682743881374, class_weight='balanced', max_iter=1000,
                    solver='liblinear'))

# Predict

In [156]:
# create a pipeline
pipe_pre = Pipeline([('preprocessor', Preprocessor())])
pipe_features = Pipeline([('engineer', FeatureEngineer())])
pipe_scale = Pipeline([('scaler', CustomMinMaxScaler())])
#pipe_mnb = Pipeline([('mnb', MultiNBFeatures())])

In [ ]:
# import input data

In [22]:
from test_data.backup_test_data import get_test_data

In [ ]:
# create pipieline for preprocessing, polarity&subjectivity&lengths features