In [5]:
import pandas as pd
import numpy as np
import joblib

In [7]:
from WorkforceSentimentMonitoring.data import get_data, merge
from WorkforceSentimentMonitoring.data import get_prepaired_data

In [8]:
# get the dataframe
X_train, X_test, y_train, y_test = get_prepaired_data()

Reading data...
Merging data into a single DataFrame...

  0%|          | 0/10 [00:00<?, ?it/s]

Dropping initial text columns...
Identifying entries in other languages...

HBox(children=(HTML(value='Dask Apply'), FloatProgress(value=0.0, max=32.0), HTML(value='')))

 10%|█         | 1/10 [00:48<07:12, 48.00s/it]

100%|██████████| 10/10 [01:36<00:00,  9.60s/it]

Drop 435 entries? [y] / n
y
Dropping 435 entries...
Splitting train and test...
Encoding targets...
Done!

In [9]:
preprocessor = joblib.load('../joblib_files/final_pipe.joblib')

In [10]:
X_train = preprocessor.fit_transform(X_train)

100%|██████████| 36666/36666 [00:31<00:00, 1151.61it/s]

In [12]:
X_train

,review,length,anger_score,anticipation_score,disgust_score,fear_score,joy_score,sadness_score,surprise_score,trust_score,subjectivity_review,polarity_review
0,year at amazon france great career opportunity...,0.019778,0.000000,0.182556,0.009950,0.043328,0.251527,0.044238,0.059406,0.139427,0.681503,0.222925
1,apple is what you expect product used by billi...,0.003692,0.000000,0.211842,0.000000,0.094416,0.000000,0.000000,0.037962,0.103469,0.686667,-0.028333
2,microsoft great company with good culture and ...,0.002110,0.000000,0.065044,0.000000,0.000000,0.078721,0.000000,0.033414,0.079611,0.390000,0.240000
3,warehouse lead process assistant hourly compen...,0.070148,0.080071,0.311622,0.160916,0.094353,0.257566,0.340346,0.088711,0.558708,0.527865,0.053125
4,a career i never expected the continuous growt...,0.120781,0.020268,0.563708,0.005192,0.089342,0.324376,0.010224,0.017080,0.465302,0.544602,0.204861
...,...,...,...,...,...,...,...,...,...,...,...,...
36661,decent enough place to gain experience it is a...,0.022416,0.000000,0.163819,0.000000,0.000000,0.058362,0.000000,0.000000,0.082071,0.345887,0.043290
36662,horrible worse company i ever worked for co wo...,0.027954,0.075785,0.257777,0.067001,0.222508,0.305424,0.242093,0.051094,0.083918,0.457406,-0.169421
36663,warehouse the people are great too work around...,0.006329,0.000000,0.035306,0.000000,0.000000,0.042730,0.000000,0.018137,0.142870,0.512500,0.353125
36664,great place to learn amazing colleague great p...,0.004483,0.000000,0.143084,0.000000,0.000000,0.054071,0.068330,0.022951,0.216229,0.631481,0.540741
36665,great experience great benefit and great salar...,0.018724,0.006476,0.045466,0.000000,0.000000,0.192532,0.000000,0.000000,0.209692,0.560795,0.419697

In [14]:
y_test

,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall
0,0,1,0,1,0,0
1,0,1,0,1,1,0
2,0,1,1,1,0,0
3,0,1,1,0,1,1
4,0,1,1,1,0,0
...,...,...,...,...,...,...
15709,0,1,1,0,1,1
15710,0,0,1,0,0,0
15711,1,1,1,1,1,1
15712,1,1,1,1,1,1
15713,0,0,0,0,0,0

In [19]:
df_pred = pd.concat([y_train, y_test]).reset_index(drop=True)
df_pred

,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall
0,0,0,1,1,1,1
1,0,1,0,0,0,0
2,1,1,1,1,1,1
3,0,0,0,0,0,0
4,1,1,1,1,1,1
...,...,...,...,...,...,...
52375,0,1,1,0,1,1
52376,0,0,1,0,0,0
52377,1,1,1,1,1,1
52378,1,1,1,1,1,1
52379,0,0,0,0,0,0

In [20]:
df_reviews = pd.concat([X_train, X_test])
df_reviews = df_reviews[['review']].reset_index(drop=True)
df_reviews

                                                  review
0      year at amazon france great career opportunity...
1      apple is what you expect product used by billi...
2      microsoft great company with good culture and ...
3      warehouse lead process assistant hourly compen...
4      a career i never expected the continuous growt...
...                                                  ...
52375  A great decade I love the smart people I've go...
52376  TRANSACTION RISK INVESTIGATOR Good work enviro...
52377  once on apple always on apple the touch, the t...
52378  Pathways Operations Manager Dynamic, hand on l...
52379  seasonal sorter fast paced, scanning package s...

[52380 rows x 1 columns]

In [21]:
# get the dataframe
df = pd.concat([df_reviews, df_pred], axis=1)
df

,review,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall
0,year at amazon france great career opportunity...,0,0,1,1,1,1
1,apple is what you expect product used by billi...,0,1,0,0,0,0
2,microsoft great company with good culture and ...,1,1,1,1,1,1
3,warehouse lead process assistant hourly compen...,0,0,0,0,0,0
4,a career i never expected the continuous growt...,1,1,1,1,1,1
...,...,...,...,...,...,...,...
52375,A great decade I love the smart people I've go...,0,1,1,0,1,1
52376,TRANSACTION RISK INVESTIGATOR Good work enviro...,0,0,1,0,0,0
52377,"once on apple always on apple the touch, the t...",1,1,1,1,1,1
52378,"Pathways Operations Manager Dynamic, hand on l...",1,1,1,1,1,1
52379,"seasonal sorter fast paced, scanning package s...",0,0,0,0,0,0

In [22]:
df.iloc[3]

review                  warehouse lead process assistant hourly compen...
work-balance                                                            0
culture-values                                                          0
career-opportunities                                                    0
comp-benefits                                                           0
senior-mgmt                                                             0
overall                                                                 0
Name: 3, dtype: object

In [23]:
categories = ['overall', 'work-balance', 'culture-values', 'career-opportunities','comp-benefits', 'senior-mgmt']

#pos = []
#neg = []

pos = {}
neg = {}
for category in categories:
    df_pos = df[df[category] == 1]
    df_neg = df[df[category] == 0]
    pos[f'{category}'] = df_pos
    neg[f'{category}'] = df_neg
    #pos.append(df_pos)
    #neg.append(df_neg)
pd.DataFrame(pos['work-balance']['review'])

                                                  review
2      microsoft great company with good culture and ...
4      a career i never expected the continuous growt...
5      great place to work great culture and good opp...
6      best place to work amazing benefit excellent s...
8      customer service stable work flow and good hou...
...                                                  ...
52370  I've got a good deal, job getting harder thoug...
52372  Technical Program Manaer - Excellent perks - E...
52373  good company I like to work in amazon because ...
52377  once on apple always on apple the touch, the t...
52378  Pathways Operations Manager Dynamic, hand on l...

[25935 rows x 1 columns]

In [24]:
for category in categories:
    print(pd.DataFrame(neg[f'{category}']['review']))

                                                  review
1      apple is what you expect product used by billi...
3      warehouse lead process assistant hourly compen...
5      great place to work great culture and good opp...
7      transaction tisk investigator good culture goo...
8      customer service stable work flow and good hou...
...                                                  ...
52368  Assists the helpers while they are helping You...
52370  I've got a good deal, job getting harder thoug...
52371  Tier 3 and below Tier 3's can bridge the gap t...
52376  TRANSACTION RISK INVESTIGATOR Good work enviro...
52379  seasonal sorter fast paced, scanning package s...

[25628 rows x 1 columns]
                                                  review
0      year at amazon france great career opportunity...
1      apple is what you expect product used by billi...
3      warehouse lead process assistant hourly compen...
7      transaction tisk investigator good culture goo...
9      research software develpoment engineer great a...
...                                                  ...
52371  Tier 3 and below Tier 3's can bridge the gap t...
52374  Retail Manager Amazing company with great valu...
52375  A great decade I love the smart people I've go...
52376  TRANSACTION RISK INVESTIGATOR Good work enviro...
52379  seasonal sorter fast paced, scanning package s...

[26445 rows x 1 columns]
                                                  review
0      year at amazon france great career opportunity...
3      warehouse lead process assistant hourly compen...
7      transaction tisk investigator good culture goo...
8      customer service stable work flow and good hou...
11     terrible culture the benefit offered by the co...
...                                                  ...
52364  Its alot of work working there you’ll lose wei...
52368  Assists the helpers while they are helping You...
52371  Tier 3 and below Tier 3's can bridge the gap t...
52376  TRANSACTION RISK INVESTIGATOR Good work enviro...
52379  seasonal sorter fast paced, scanning package s...

[18206 rows x 1 columns]
                                                  review
1      apple is what you expect product used by billi...
3      warehouse lead process assistant hourly compen...
7      transaction tisk investigator good culture goo...
8      customer service stable work flow and good hou...
11     terrible culture the benefit offered by the co...
...                                                  ...
52367  Choose your team wisely, can be a great or ter...
52370  I've got a good deal, job getting harder thoug...
52371  Tier 3 and below Tier 3's can bridge the gap t...
52373  good company I like to work in amazon because ...
52379  seasonal sorter fast paced, scanning package s...

[20960 rows x 1 columns]
                                                  review
1      apple is what you expect product used by billi...
3      warehouse lead process assistant hourly compen...
5      great place to work great culture and good opp...
7      transaction tisk investigator good culture goo...
13     warehouse job good pay good benefit such a hea...
...                                                  ...
52368  Assists the helpers while they are helping You...
52371  Tier 3 and below Tier 3's can bridge the gap t...
52375  A great decade I love the smart people I've go...
52376  TRANSACTION RISK INVESTIGATOR Good work enviro...
52379  seasonal sorter fast paced, scanning package s...

[14961 rows x 1 columns]
                                                  review
1      apple is what you expect product used by billi...
3      warehouse lead process assistant hourly compen...
7      transaction tisk investigator good culture goo...
8      customer service stable work flow and good hou...
11     terrible culture the benefit offered by the co...
...                                                  ...
52370  I've got a good deal, job getting harder thoug...
52371  Tier 3 and below Tier 3's can bridge the gap t...
52372  Technical Program Manaer - Excellent perks - E...
52376  TRANSACTION RISK INVESTIGATOR Good work enviro...
52379  seasonal sorter fast paced, scanning package s...

[26197 rows x 1 columns]

In [25]:
from WorkforceSentimentMonitoring.encoders import Preprocessor

preprop = Preprocessor()
pos_preprocessed = {}
neg_preprocessed = {}
for category in categories:
    pos_prep = preprop.fit_transform(pd.DataFrame(pos[f'{category}']['review']))
    pos_preprocessed[f'{category}'] = pos_prep
    neg_prep = preprop.fit_transform(pd.DataFrame(neg[f'{category}']['review']))
    neg_preprocessed[f'{category}'] = neg_prep

In [114]:
#for category in categories:
#    print(pos_preprocessed[f'{category}'])

/Users/celinegianduzzo/.pyenv/versions/3.8.5/envs/workforcesentiment/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [26]:
from WorkforceSentimentMonitoring.preprocessing import tokenize

pos_tokenized_dict = {}
neg_tokenized_dict = {}
for category in categories:
    pos_tokenized_text = []
    for text in pos_preprocessed[f'{category}']['review']:
        pos_tokenized_text.append(tokenize(text))
    pos_tokenized_dict[f'{category}'] = tokenized_text
    neg_tokenized_text = []
    for text in neg_preprocessed[f'{category}']['review']:
        neg_tokenized_text.append(tokenize(text))
    neg_tokenized_dict[f'{category}'] = tokenized_text

NameError: name 'tokenized_text' is not defined

In [ ]:
for category in categories:
    print('pos')
    print(len(pos_tokenized_dict[f'{category}']))
    print('neg')
    print(len(neg_tokenized_dict[f'{category}']))

In [ ]:
import gensim
import gensim.corpora as corpora
from gensim.utils import lemmatize, simple_preprocess
from gensim.models import CoherenceModel
import matplotlib.pyplot as plt
from gensim.corpora import Dictionary
import pyLDAvis
import pyLDAvis.gensim

def compute_coherence_values(dictionary, corpus, texts, limit=8, start=2, step=1):
    coherence_values = []
    model_list = []
    for num_topics in range(start, limit, step):
        model = gensim.models.ldamodel.LdaModel(corpus=corpus, num_topics=num_topics, id2word=id2word, alpha=.91)
        model_list.append(model)
        coherencemodel = CoherenceModel(model=model, texts=texts, dictionary=dictionary, coherence='c_v')
        coherence_values.append(coherencemodel.get_coherence())
    return model_list, coherence_values

In [ ]:
pos_visualizations = {}
for category in categories:
    id2word = corpora.Dictionary(pos_tokenized_dict[f'{category}'])
    dictionary = id2word
    dictionary = dictionary.filter_extremes(no_above=0.80)
    texts = tokenized_text
    corpus = [id2word.doc2bow(text) for text in texts]
    ldamallet = gensim.models.ldamodel.LdaModel(corpus=corpus, num_topics=2, id2word=id2word, iterations=100)
    coherence_model_ldamallet = CoherenceModel(model=ldamallet, texts=texts, dictionary=id2word, coherence='c_v')
    coherence_ldamallet = coherence_model_ldamallet.get_coherence()
    
    model_list, coherence_values = compute_coherence_values(dictionary=id2word, corpus=corpus, texts=texts, start=4, limit=8, step=2)
    max_y = max(coherence_values)  
    max_x = coherence_values.index(max(coherence_values))
    optimal_model = model_list[coherence_values.index(max(coherence_values))]
    pyLDAvis.enable_notebook()
    vis = pyLDAvis.gensim.prepare(optimal_model, corpus, id2word)
    pos_visualizations[f'{category}']=vis

In [ ]:
neg_visualizations = {}
for category in categories:
    id2word = corpora.Dictionary(neg_tokenized_dict[f'{category}'])
    dictionary = id2word
    dictionary = dictionary.filter_extremes(no_above=0.80)
    texts = tokenized_text
    corpus = [id2word.doc2bow(text) for text in texts]
    ldamallet = gensim.models.ldamodel.LdaModel(corpus=corpus, num_topics=2, id2word=id2word, iterations=100)
    coherence_model_ldamallet = CoherenceModel(model=ldamallet, texts=texts, dictionary=id2word, coherence='c_v')
    coherence_ldamallet = coherence_model_ldamallet.get_coherence()
    
    model_list, coherence_values = compute_coherence_values(dictionary=id2word, corpus=corpus, texts=texts, start=4, limit=8, step=2)
    max_y = max(coherence_values)  
    max_x = coherence_values.index(max(coherence_values))
    optimal_model = model_list[coherence_values.index(max(coherence_values))]
    pyLDAvis.enable_notebook()
    vis = pyLDAvis.gensim.prepare(optimal_model, corpus, id2word)
    neg_visualizations[f'{category}']=vis

In [ ]:
#for category in categories:
#    print(pos_visualizations[f'{category}'])
neg_visualizations['work-balance']