In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
cd ..

/Users/yunxizzy/code/theresa-sporn/WorkforceSentimentMonitoring

In [3]:
ls

MANIFEST.in                            lexicon/
Makefile                               notebooks/
Procfile                               raw_data/
README.md                              requirements.txt
WorkforceSentimentMonitoring/          scripts/
WorkforceSentimentMonitoring.egg-info/ setup.py
app.py                                 setup.sh
build/                                 test_data/
dist/                                  tests/
joblib_files/

# import test data

In [4]:
from test_data.backup_test_data import get_test_data

In [5]:
input_data = get_test_data()
input_data

,positives,negatives,review
0,You're surrounded by smart people and the proj...,Internal tools proliferation has created a mes...,You're surrounded by smart people and the proj...
1,Brand name is great. Have yet to meet somebody...,not the most stimulating work. Good brand name...,Brand name is great. Have yet to meet somebody...
2,Good money.Interaction with some great minds i...,No proper growth plan for employees.Difficult ...,Good money.Interaction with some great minds i...
3,nice pay and overtime and different shifts,didn't last quite long enough,nice pay and overtime and different shifts did...
4,Opportunity for those not afraid to work!,Opportunity takes time up to two plus years!,Opportunity for those not afraid to work! Oppo...
...,...,...,...
495,Compensation is great. Learning on and designi...,The culture kind of sucks. Everyone's got cash...,Compensation is great. Learning on and designi...
496,Seattle downtown,Politics influence your rating and promotion,Seattle downtown Politics influence your ratin...
497,NaN,NaN,nan nan
498,NaN,NaN,nan nan
499,NaN,NaN,nan nan

In [6]:
test = input_data[['review']]
test

                                                review
0    You're surrounded by smart people and the proj...
1    Brand name is great. Have yet to meet somebody...
2    Good money.Interaction with some great minds i...
3    nice pay and overtime and different shifts did...
4    Opportunity for those not afraid to work! Oppo...
..                                                 ...
495  Compensation is great. Learning on and designi...
496  Seattle downtown Politics influence your ratin...
497                                            nan nan
498                                            nan nan
499                                            nan nan

[500 rows x 1 columns]

In [29]:
test_cp = test.copy()
test_cp

                                                review
0    You're surrounded by smart people and the proj...
1    Brand name is great. Have yet to meet somebody...
2    Good money.Interaction with some great minds i...
3    nice pay and overtime and different shifts did...
4    Opportunity for those not afraid to work! Oppo...
..                                                 ...
495  Compensation is great. Learning on and designi...
496  Seattle downtown Politics influence your ratin...
497                                            nan nan
498                                            nan nan
499                                            nan nan

[500 rows x 1 columns]

# Try out pipeline

In [7]:
import joblib
import os

In [8]:
os_path = os.getcwd()
os_path_abs = '/'.join(os_path.split('/')[:-1])
pipe_path = os.path.join(os_path_abs,'WorkforceSentimentMonitoring/joblib_files')
pipe_path

'/Users/yunxizzy/code/theresa-sporn/WorkforceSentimentMonitoring/joblib_files'

In [9]:
last_pipe = joblib.load(os.path.join(pipe_path, 'feature_pipeline.joblib'))
last_pipe

Pipeline(steps=[('first_pipe',
                 Pipeline(steps=[('preprocessor', Preprocessor()),
                                 ('emo_extractor', EmotionScoresExtractor()),
                                 ('scaler', CustomMinMaxScaler()),
                                 ('engineer', FeatureEngineer())])),
                ('mnb', MultiNBFeaturesExtractor())])

In [72]:
test_fea = last_pipe.fit_transform(test_cp)
test_fea

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 500/500 [00:00<00:00, 913.34it/s]

,review,length,anger_score,anticipation_score,disgust_score,fear_score,joy_score,sadness_score,surprise_score,trust_score,subjectivity_review,polarity_review,work-balance_nb,culture-values_nb,career-opportunities_nb,comp-benefits_nb,senior-mgmt_nb,overall_nb
0,you are surrounded by smart people and the pro...,0.247059,0.126304,0.000000,0.145772,0.000000,0.000000,0.000000,0.000000,0.000000,0.348980,0.121684,0,0,1,1,0,0
1,brand name is great have yet to meet somebody ...,0.358824,0.052395,0.118897,0.045224,0.089593,0.036656,0.048809,0.088258,0.139518,0.390000,0.172292,0,0,0,1,0,0
2,good money interaction with some great mind in...,0.264706,0.010967,0.223625,0.013570,0.051145,0.322356,0.000000,0.047353,0.101855,0.405556,0.222222,0,1,0,1,0,0
3,nice pay and overtime and different shift did ...,0.064706,0.000000,0.171465,0.000000,0.000000,0.042532,0.000000,0.000000,0.075574,0.513333,0.110000,0,0,0,0,0,0
4,opportunity for those not afraid to work oppor...,0.076471,0.000000,0.350596,0.000000,0.338801,0.000000,0.000000,0.000000,0.000000,0.900000,0.300000,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,compensation is great learning on and designin...,0.317647,0.142021,0.143633,0.106628,0.134191,0.289615,0.182589,0.066795,0.375862,0.711111,0.440278,0,1,1,1,0,0
496,seattle downtown politics influence your ratin...,0.035294,0.167153,0.000000,0.000000,0.107652,0.000000,0.046936,0.000000,0.000000,0.000000,0.000000,0,0,0,1,0,0
497,nan nan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,1,1,1,0,0
498,nan nan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,1,1,1,0,0
499,nan nan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,1,1,1,0,0

## detect wrong language

In [86]:
from WorkforceSentimentMonitoring.data import detect_wrong_language, drop_wrong_language

In [82]:
tures = detect_wrong_language(test_fea, 'review')

  0%|          | 0/10 [00:00<?, ?it/s]

HBox(children=(HTML(value='Dask Apply'), FloatProgress(value=0.0, max=16.0), HTML(value='')))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:48<00:00,  4.80s/it]

In [85]:
tures.value_counts()

False    493
True       7
Name: review, dtype: int64

In [88]:
test_eng = drop_wrong_language(test_fea, 'review')
test_eng

  0%|          | 0/10 [00:00<?, ?it/s]

Identifying entries in other languages...

HBox(children=(HTML(value='Dask Apply'), FloatProgress(value=0.0, max=16.0), HTML(value='')))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:48<00:00,  4.80s/it]

Drop 7 entries? [y] / n
y
Dropping 7 entries...

,review,length,anger_score,anticipation_score,disgust_score,fear_score,joy_score,sadness_score,surprise_score,trust_score,subjectivity_review,polarity_review,work-balance_nb,culture-values_nb,career-opportunities_nb,comp-benefits_nb,senior-mgmt_nb,overall_nb
0,you are surrounded by smart people and the pro...,0.247059,0.126304,0.000000,0.145772,0.000000,0.000000,0.000000,0.000000,0.000000,0.348980,0.121684,0,0,1,1,0,0
1,brand name is great have yet to meet somebody ...,0.358824,0.052395,0.118897,0.045224,0.089593,0.036656,0.048809,0.088258,0.139518,0.390000,0.172292,0,0,0,1,0,0
2,good money interaction with some great mind in...,0.264706,0.010967,0.223625,0.013570,0.051145,0.322356,0.000000,0.047353,0.101855,0.405556,0.222222,0,1,0,1,0,0
3,nice pay and overtime and different shift did ...,0.064706,0.000000,0.171465,0.000000,0.000000,0.042532,0.000000,0.000000,0.075574,0.513333,0.110000,0,0,0,0,0,0
4,opportunity for those not afraid to work oppor...,0.076471,0.000000,0.350596,0.000000,0.338801,0.000000,0.000000,0.000000,0.000000,0.900000,0.300000,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,good hour nice pay and lot of people to meet g...,0.188235,0.000000,0.387375,0.000000,0.000000,0.122272,0.000000,0.151634,0.227342,0.543750,0.393750,0,1,1,1,0,0
489,great entry level job for pay and benefit lear...,0.194118,0.011562,0.078246,0.000000,0.051480,0.072615,0.000000,0.019967,0.322531,0.650000,0.366667,0,0,0,1,0,0
490,good pay good benefit you get to work with som...,0.270588,0.088252,0.178566,0.000000,0.043176,0.230905,0.071094,0.038351,0.301222,0.540938,0.368438,1,1,1,1,1,1
491,compensation is great learning on and designin...,0.317647,0.142021,0.143633,0.106628,0.134191,0.289615,0.182589,0.066795,0.375862,0.711111,0.440278,0,1,1,1,0,0
492,seattle downtown politics influence your ratin...,0.035294,0.167153,0.000000,0.000000,0.107652,0.000000,0.046936,0.000000,0.000000,0.000000,0.000000,0,0,0,1,0,0

# Try out predict model

In [100]:
from WorkforceSentimentMonitoring.trainer import Classifier

In [101]:
clf = Classifier()

In [102]:
pred = clf.fit_transform(test_fea)
pred

  0%|          | 0/10 [00:00<?, ?it/s]

Identifying entries in other languages...

HBox(children=(HTML(value='Dask Apply'), FloatProgress(value=0.0, max=16.0), HTML(value='')))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:48<00:00,  4.80s/it]

Drop 6 entries? [y] / n
y
Dropping 6 entries...

,work-life-balance,culture-values,career-opportunities,company-benefits,senior-management,overall
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,0,0,0,0
4,0,0,0,1,0,0
...,...,...,...,...,...,...
489,0,0,0,0,0,0
490,0,0,0,0,0,0
491,1,1,0,1,0,1
492,0,0,0,0,0,0
493,0,0,0,0,0,0

In [89]:
test_pred = clf.fit_transform(test_eng)
test_pred

,work-life-balance,culture-values,career-opportunities,company-benefits,senior-management,overall
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,0,0,0,0
4,0,0,0,1,0,0
...,...,...,...,...,...,...
488,0,0,0,0,0,0
489,0,0,0,0,0,0
490,1,1,0,1,0,1
491,0,0,0,0,0,0
492,0,0,0,0,0,0

# Final model

In [90]:
from sklearn.pipeline import Pipeline

In [105]:
use_case_pipe = Pipeline([
    ('features', last_pipe),
    ('sgd', Classifier())
])

In [106]:
def export_joblib(estimator, name):
    dirname = os.path.abspath('')
    filename = os.path.join(dirname, f'../WorkforceSentimentMonitoring/joblib_files/{name}.joblib')
    joblib.dump(estimator, filename)

In [107]:
export_joblib(use_case_pipe, 'use_case_pipeline')