In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
cd ..

/Users/yunxizzy/code/theresa-sporn/WorkforceSentimentMonitoring

In [3]:
ls

MANIFEST.in                            joblib_files/
Makefile                               lexicon/
Procfile                               notebooks/
README.md                              raw_data/
WorkforceSentimentMonitoring/          requirements.txt
WorkforceSentimentMonitoring.egg-info/ scripts/
app.py                                 setup.py
build/                                 setup.sh
dist/                                  test_data/
gceline_topic_modelling_v2.ipynb       tests/

# import test data

In [11]:
from test_data.backup_test_data import get_test_data

In [12]:
input_data = get_test_data()
input_data

,positives,negatives,review
0,You're surrounded by smart people and the proj...,Internal tools proliferation has created a mes...,You're surrounded by smart people and the proj...
1,Brand name is great. Have yet to meet somebody...,not the most stimulating work. Good brand name...,Brand name is great. Have yet to meet somebody...
2,Good money.Interaction with some great minds i...,No proper growth plan for employees.Difficult ...,Good money.Interaction with some great minds i...
3,nice pay and overtime and different shifts,didn't last quite long enough,nice pay and overtime and different shifts did...
4,Opportunity for those not afraid to work!,Opportunity takes time up to two plus years!,Opportunity for those not afraid to work! Oppo...
...,...,...,...
495,Compensation is great. Learning on and designi...,The culture kind of sucks. Everyone's got cash...,Compensation is great. Learning on and designi...
496,Seattle downtown,Politics influence your rating and promotion,Seattle downtown Politics influence your ratin...
497,NaN,NaN,nan nan
498,NaN,NaN,nan nan
499,NaN,NaN,nan nan

In [16]:
test = input_data[['review']]
test

                                                review
0    You're surrounded by smart people and the proj...
1    Brand name is great. Have yet to meet somebody...
2    Good money.Interaction with some great minds i...
3    nice pay and overtime and different shifts did...
4    Opportunity for those not afraid to work! Oppo...
..                                                 ...
495  Compensation is great. Learning on and designi...
496  Seattle downtown Politics influence your ratin...
497                                            nan nan
498                                            nan nan
499                                            nan nan

[500 rows x 1 columns]

# Try out pipeline

# Try out the mnb features

In [20]:
from WorkforceSentimentMonitoring.trainer import MultiNBFeaturesExtractor

In [21]:
mnbfeature = MultiNBFeaturesExtractor()

In [18]:
test_cp = test.copy()

In [22]:
test_cp = mnbfeature.fit_transform(test_cp)

In [23]:
test_cp

,review,work-balance_nb,culture-values_nb,career-opportunities_nb,comp-benefits_nb,senior-mgmt_nb,overall_nb
0,You're surrounded by smart people and the proj...,0,1,1,1,0,0
1,Brand name is great. Have yet to meet somebody...,0,0,0,1,0,0
2,Good money.Interaction with some great minds i...,0,1,1,1,0,0
3,nice pay and overtime and different shifts did...,0,1,0,1,0,0
4,Opportunity for those not afraid to work! Oppo...,1,1,1,1,1,1
...,...,...,...,...,...,...,...
495,Compensation is great. Learning on and designi...,0,1,1,1,0,0
496,Seattle downtown Politics influence your ratin...,0,0,0,1,0,0
497,nan nan,0,1,1,1,0,0
498,nan nan,0,1,1,1,0,0
499,nan nan,0,1,1,1,0,0